:root {
  --bg-color: hsla(207, 30%, 44%, 0.747);
  --d-color: hsla(0, 0%, 100%, 0.747);
  --d-shadow: white;
  --start: hsl(120, 45%, 45%);
  --reset: hsl(240, 55%, 55%);
  --stop: hsl(0, 50%, 50%);
}


body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 10rem;
  min-width: 10rem;
}

.display {
  text-shadow: 5px 0px 5px var(--d-shadow);
  color: var(--d-color);
  font-size: 5rem;
  height: 120px;
  width: 120px;
  font-weight: bold;
  font-family: monospace;
}

Button {
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  margin-right: 1.5rem;
  padding: 2px;
  font-weight: 550;
  cursor: pointer;
}


.start {
  background-color: var(--start);
}

.stop {
  background-color: var(--stop);
}

.reset {
  background-color: var(--reset);
}